
@import './../scss/config';

.myReservationsContainer {
  display: flex;
  flex-direction: column;
}

.list-items {
  flex-direction: column;
  gap: 30px;
  width: 60%;
  margin: auto;

  .delete {
    position: relative;
    top: 50%;
    width: 200px;
    left: 10px;
    border-radius: 10px;
  }
}
