
@import './../scss/config';

.myReservationsContainer {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
}

.list-items {
  // display: flex;
  flex-direction: column;
  // justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
  width: 60%;
  margin: auto;

  .city {

  }

  .delete {
    position: relative;
    top: 50%;
    width: 200px;
    left: 10px;
    border-radius: 10px;
  }
}
